<h3>ユーザー詳細</h3>

<table>
  <tr>
    <th>id</th>
    <td><%= @user.id %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>emaliアドレス</th>
    <td><%= @user.email %></td>
  </tr>
</table>

<h3>行きたいところ一覧</h3>

<table>
  <thead>
    <tr>
      <th>登録名</th>
      <th>memo</th>
      <th>更新日時</th>
      <th>投稿日時</th>
      <th>投稿者(User_id)</th>
      <th>参照</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.address %></td>
        <td><%= spot.memo %></td>
        <td><%= spot.updated_at.to_s(:datetime_jp) %></td>
        <td><%= spot.created_at.to_s(:datetime_jp) %></td>
        <td><%= spot.user_id %></td>
        <td><%= link_to "参照", spot %></td>
        <td><%= link_to "編集", [:edit, spot] %></td>
        <td><%= button_to "削除", spot, method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>新規投稿</h3>

<%= form_with(model: @spot, local: true) do |f| %>
  <div class="actions">
    <%= f.label :address,"登録名" %>
    <%= f.text_field :address %>
    <%= f.label :memo,"memo" %>
    <%= f.text_field :memo %>
    <%= f.submit "投稿を完了する", data: { turbo: false } %>
    <%= f.hidden_field :latitude,:value => nil, id: :lat %>
    <%= f.hidden_field :longitude,:value => nil, id: :lng %>
    <%= f.hidden_field :user_id, value: @user.id %>
  </div>
<% end %>

<h2>Map</h2>

<input id="address" type="textbox" value="東京駅">
<input type="button" value="検索" onclick="codeAddress()">
<p>ピンをドラック＆ドロップで位置の調整ができます。<p>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
  let map
  let marker

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: 35.6803997, lng:139.7690174},
      zoom: 15,
    });
  }

  let geocoder
  let aft

  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        if (aft == true){
           marker.setMap(null);
        }
        map.setCenter(results[0].geometry.location);
          marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true
          });

        aft = true

        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        google.maps.event.addListener( marker, 'dragend', function(ev){
          document.getElementById('lat').value = ev.latLng.lat();
          document.getElementById('lng').value = ev.latLng.lng();
        });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<div>
  <ul>
    <li><%= link_to "ユーザー情報一覧に戻る", :users %></li>
  </ul>
</div>
